<h1 class="page-header">Learning Styles <small><%= @student_name %></small></h1>
<ul class="list-unstyled">
  <li><a href="/student/test" id="discover-learning-style">
    <h2>Discover&nbsp;your learning&nbsp;style</h2>
    <p>Take the multiple-choice test to discover how you learn.</p>
  </a></li>
  <li><a href="/student/results" id="understand-learning-style">
    <h2>Understand&nbsp;your learning&nbsp;style</h2>
    <p>View your results from the various tests, and information about your particular learning style.</p>
  </a></li>
</ul>
