<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="page-navbar">
  <a href="/teacher"><h1 class="navbar-brand">Learning Styles</h1></a>

  <ul class="nav navbar-nav">
    <li class="active"><a href="#intro">Introduction</a></li>
    <li><a href="#year-X">Year X</a></li>
  </ul>
</nav>

<section id="intro">
  <div class="jumbotron">
    <div class="container">
      <h1>Student Results</h1>
      <p>Below you will find </p>
    </div>
  </div>
</section>

foreach year in students
<section id="year-x">
<h2>Year x</h2>
<table class="table table-striped">
  <thead><tr>
    <th>Name</th>
    <th>ID</th>
    <th>DOL5</th>
    <th>GMI</th>
    <th>STAR</th>
    <th>AusIdentities</th>
  </tr>
  </thead>
  <tbody>
  foreach student in yearx
    <tr>
    <td>name</td>
    <td>eqid</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  end
  </tbody>
</table>
</section>
end
