<div class="jumbotron">
	<div class="container">
		<h1>Welcome</h1>
		<p>As a teacher, you may view an overview of student results from the various learning tests on the <%= link_to "school overview page", '/teachers/school-results' %>, as well as examine individual students' profiles.
	</div>
</div>
