<h1 class="page-header">Learning Styles <small>Teacher</small></h1>
<ul class="list-unstyled">
  <li><a href="/teacher/student_results" id="teacher-student-results">
    <h2>Understand&nbsp;your&nbsp;students</h2>
    <p>View an overview of student results from the various learning tests, organised by name and year level.</p>
  </a></li>
</ul>
