@import "bs3/bootstrap.less";
@import "bs3/mixins.less";
@import "bs3/variables.less";


// Utility mixins
// ==============

.big-column(@columns) {
  .make-md-column(@columns);
  .make-lg-column(@columns);
}
.big-offset(@columns) {
  .make-md-column-offset(@columns);
  .make-lg-column-offset(@columns);
}

// Padding is so the navbar doesn't overlay the anchored sections
.anchor-padding-for-navbar {
  padding-top: @navbar-height;
  margin-top: -@navbar-height;
}


.text-finished {
	.text-muted;
	text-decoration: line-through;
}

// Structure
// =========

#container {
  .container-fixed();
  padding: 0px;
  header nav {
	margin-bottom: 0px;
	}
  #page-footer-wrap {
    margin-top: 3em;
    a { color: @gray-light; }
    .big-offset(10);
    .big-column(2);
  }
  
  article {
    .make-row();
    .big-offset(1);
    .big-column(10);
  }
}

#home {
  form { .big-column(5); }
}
